{% extends 'base.html.j2' %}

{% block title %}Roll{% endblock %}

{% block content %}
<div class="dice-navigation">
    <a href="/en/roll-uniform/" class="dice-link"><div class="dice">Uniform</div></a>
    <a href="/en/roll-market-cap/" class="dice-link"><div class="dice">Market Cap</div></a>
    <div class="dice">Custom weights (coming soon)</div>
</div>
{% endblock %}