{% extends 'base.html.j2' %}

{% block title %}Results{% endblock %}

{% block content %}
<div class="dice">
{{symbol}}
</div>

<p>{{company_name}} (${{"{:,}".format(market_cap_usd)}} market cap)</p>
{% endblock %}